extends layout

block header
    link(rel='stylesheet' href='/static/stylesheets/nv.d3.min.css')
    script(src='/static/javascripts/d3.min.js')
    script(src='/static/javascripts/nv.d3.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/static/javascripts/graph.js')

block content
  div#chart
    svg